.pagination {
  justify-content: flex-end;
  li {
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    a {
      padding: 6px 14px;
      outline: none;
      display: block;
    }

    &.active, &:hover {
      background: #007bff;
      color: #fff;
    }
  }

  &--disabled {
    pointer-events: none;
  }
}